
/* General styles */

body {
	background: #cce4ff;
}


div.navbar-header .navbar-brand {
	padding: 0 5px 0 0;
}

.nav a {
	text-transform: capitalize;
}

.jumbotron {
	background:  url('../img/bg.png') 0 0 repeat;
}

.navbar {
	border-radius: 0px;
}

.jumbotron h1 {
	color: #000;	
}

hr {
	border-top:1px solid #636363;
}