
/* #Media Queries
================================================== */
	@media only screen and (min-width: 960px) and (max-width: 1199px) {
	    #header a.logout {
	        top: 0;
	        right: 159px;	
	    }
	    
	    #display .form input {
	        width: 300px;
	    }
	    
	    
	    #login_form {
	        padding: 20px 5px 80px 85px;
	    }
	
	    #nav {
	        margin-bottom: 20px;
	    }
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		#header a.logout {
	        top: 0;
	        right: 122px;
        }
        
        #display .form input {
	        width: 300px;
        }

        #login_form {
	        padding: 20px 5px 20px 85px;
        }
        
        #display {
	        overflow: auto;
        }
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        #header a.logout {
	        top: 0px;
			left: 6px;
			position: relative;
			margin-bottom: 10px;
        }
        
        #display .form input {
	        width: 70px;
        }
        
        #login_form {
	        padding: 20px 0px 80px 20px;
	        margin-left: -20px;
        }
        
        #container #nav {
	        margin-bottom: 10px;
	        width: 297px;
        }
        
        #container #nav li {
	        width: 297px;
        }
        
        #container #overlay form{
	        width: 260px;
        }    
        
		#container #display {
			padding-left: 0;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        #header a.logout {
	        top: 0px;
			left: 6px;
			position: relative;
			margin-bottom: 10px;
        }
        
        #display .form input {
	        width: 180px;
        }
        
        #login_form {
	        padding: 20px 5px 80px 85px;
        }
        
        #container #nav {
	        margin-bottom: 10px;
	        width: 415px;
        }
        
        #container #nav li {
	        width: 415px;
        }
        
        #overlay form{
	        width: 260px;
        }
        
        
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

	}


