	@media only screen and (max-width: 1460px) {		
		
		#container .container .custom {
			width: 948px;
		}
		
		.container {
			width: 988px;
		}
		
	}



/* #Media Queries
================================================== */
	@media only screen and (min-width: 960px) and (max-width: 1200px) {
		
		#container .container .custom {
			width: 705px;
		}	
		
		.container {
			width: 747px;
		}
		
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		#container .container .custom {
			width: 551px;
		}
		
		.container {
			width: 561px;
		}
		
		#container .container .custom > div {
			overflow-x: scroll;
			max-width: 529px;
		}
		
		.opt-boxs {
			float: left;
			width: 100%;
		}
		
		.flat-box {
			width: 527px;
		}
		
		#edit_form {
			margin: 20px 0 0 10px;
		}
		
		.seo_column {
			margin: 15px 0 0 0;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#container .container .custom {
			width: 514px;
		}
		
		.container {
			width: 555px;
		}
		
		#container .container .custom > div {
			overflow-x: scroll;
			max-width: 529px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		#container, .content {
			height: 100%;
		}
		
		.container {
			width: 100%;
		}
		
		#container .inner-padding-gray {
			padding: 0;
		}
		
		#nav {
			margin-bottom: 10px;
		}
		
		#nav, #container #nav.min-nav {
			width: 100% !important;
			height: auto !important;
		}
		
		#nav .search_bg form, #nav.min-nav search_bg form{
			width: 60%;
		}
		
		#nav > div > div.retract-nav, #nav.min-nav > div > div.retract-nav{
			width: 40%;
			float: right;
		}
		
		#nav.nav-min li, #nav.nav-min ul, #nav ul, #nav li {
			width: 100% !important;
		}
		
		#nav.nav-min ul {
			display: none;
		}
		
		#nav.nav-min .search_field {
			position: relative; 
			right: auto;
			top: auto;
			border: none;
			z-index: 0;
			border-right: none;
			display: block !important;
			margin: 6px 4px 0 9px;
			
		}

		#container #nav:before {
			width: 197px;
			content: '';
			height: 0;
			width: 0;
			background: #f1f1f1;
			border-right: 1px solid #cacac8;
			left: 0;
			top: 0;	
			z-index: -1;
			position: fixed;
			display: none;
		}
		
		#container #nav.nav-min:before {
			
		}		
	
	
		#footer {
			overflow:hidden;	
		}
		
		html #footer * {
			margin-left: 0;
			padding-left: 0;	
			margin-right: 0;
			padding-right: 0;	
		}
		
		html body  div #footer .btn {
			padding: 0;
			margin: 0;
		}
		
		html #footer p { 
			width: 100% !important;
			display: block;
			margin: 5px 0;
		}	
		
		html #footer > div:first-child p{
			margin: 5px 0;
		}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.flat-box {
			width: 99%;
		}
		
		.container {
			max-width: 100%;
		}		
		
		#container .container .custom > div {
			overflow-x: scroll;
			max-width: 463px;
			margin-left: 5px;
		}
		
		#container .container .custom {
			max-width: 474px;
		}
		
		html #footer p { 
			width: 100% !important;
			display: block;
			margin: 5px 0;
		}	
	}
	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.flat-box {
			width: 388px;
			margin-left: 5px;
		}
		
		
		#container .container .custom > div {
			overflow-x: scroll;
			max-width: 363px;
			margin-left: 5px;
		}
		
		#container .container .custom {
			max-width: 363px;
		}
		
		html #footer p { 
			width: 100% !important;
			display: block;
			margin: 5px 0;
		}	
		

	}

